* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    color: white;
}

.logo {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

main .quiz-box{
    display: block;
    width: 500px;
    height: 370px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main h2{
    padding: 10px;
}

main h3{
    padding: 10px;
    margin: 10px;
}

main button{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-size: 1rem;
    padding: 5px;
    border: rgb(80, 79, 79);
    border-radius: 5px;
    background-color: rgb(124, 229, 243);
}

#next{
    margin-top: 20px;
    border: none;
    float: right;
    width: 70px;
    margin: 15px;
    border-radius: 5px;
}

#next:hover {
    background-color: rgba(16, 18, 142, 0.703);
    transition: all 0.3s;
}

main button:hover {
    background-color: skyblue;
}
